.env
node_modules
data
data/app.db
storage/test
public/images/caravans
storage/test/images/caravans
campersite.code-workspace
# Docker & Deployment
letsencrypt/
letsencrypt/acme.json
.DS_Store
*.log
tmp/*
version.json
